{%extends "nav.html" %}
{%block content%}

<div class="container">
    <div class="p-4 mx-auto mt-5 border col-lg-6 pt pl pr">
       <form action="/register_income" method="post">
             
              {%csrf_token%}
              <p>Few more step to registrations</p>
              <div class="form-group mx-auto col-lg-5  pt-4">
                 
                <label for="">Bank Name</label>
                <input type="text" name="bank_name" id="" class="form-control form-control-sm" required placeholder="" aria-describedby="helpId">
              
              </div>
               
  
               <div class="form-group mx-auto col-lg-5  pt-4">
                 
                <label for="">Enter Your Balance</label>
                <input type="text" name="balance" id="" class="form-control form-control-sm" required placeholder="" aria-describedby="helpId">
              
              </div>
              <div class="form-group mx-auto col-lg-5 pt-4">
               
                <label for=""></label>
                <input type="submit" class="bt btn-sm btn-info mt-2">
              
              </div>
       </form>
    </div>
  </div>


{%endblock%}